@model ProductVariantIM

<div class="col-3 text-center">
  <label asp-for="@Model.ColorId"></label>
  <select asp-for="@Model.ColorId" class="form-select form-control" aria-label="Default select example">
    @{
      List<ColorVM> colors = Model.Colors.ToList();
      for (int i = 0; i < colors.Count(); i++)
      {
        <option value="@colors[i].Id">@colors[i].Name - @colors[i].HexValue</option>
      }
    }
  </select>

  <label asp-for="@Model.GenderId"></label>
  <select asp-for="@Model.GenderId" class="form-select form-control" aria-label="Default select example">
    @{
      List<GenderVM> genders = Model.Genders.ToList();
      for (int i = 0; i < genders.Count(); i++)
      {
        <option value="@genders[i].Id">@genders[i].Name</option>
      }
    }
  </select>

  <label asp-for="@Model.SizeId"></label>
  <select asp-for="@Model.SizeId" class="form-select form-control" aria-label="Default select example">
    @{
      List<SizeVM> sizes = Model.Sizes.ToList();
      for (int i = 0; i < sizes.Count(); i++)
      {
        <option value="@sizes[i].Id">@sizes[i].Name</option>
      }
    }
  </select>

  <p class="form-group">
    <label asp-for="@Model.Quantity"></label>
    <input asp-for="@Model.Quantity" type="number" step="1" class="form-control" />
    <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
  </p>

  <p class="form-group">
    <label asp-for="@Model.Price"></label>
    <input asp-for="@Model.Price" type="number" step="0.01" class="form-control" />
    <span asp-validation-for="@Model.Price" class="text-danger"></span>
  </p>

  <p class="form-group">
    <label asp-for="@Model.DiscountPercentage"></label>
    <input asp-for="@Model.DiscountPercentage" type="number" step="1" class="form-control" />
    <span asp-validation-for="@Model.DiscountPercentage" class="text-danger"></span>
  </p>

  <button id="remove-variant-btn" class="btn btn-danger mb-4">➖ Премахни</button>
</div>
