@model ProductVM
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#details@(Model.Id)">Детайли</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="details@(Model.Id)" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel"><strong>Детайли</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 media">
              <div class="media-body">
                <h3 class="mt-0 mb-1">@Model.Category.Name - @Model.Name</h3>
                @Model.Description
              <ul>
                @foreach (var material in Model.Materials)
                {
                  <li>@material.Material.Name - @material.Material.Percentage%</li>
                }
              </ul>
              </div>
              <img style="width:200px; height:auto;" class="ml-3" src="@Model.ImgUrl" alt="@Model.Description">
            </div>
          </div>
        </div>
        
        <hr />
        <h4 style="text-align: center"><span class="badge badge-dark">СКЛАДОВА НАЛИЧНОСТ</span></h4>
        <div class="container-fluid">
          @{
            decimal total = 0.0M;
          }
          <div class="row">
            @foreach (var stock in Model.Stock)
            {
              <div class="col-xl-6">
                <ul class="list-group mt-3">
                  <li class="list-group-item list-group-item-warning d-flex justify-content-center align-items-center py-2 px-3">
                    <strong>@stock.Color.Name (@stock.Color.HexValue) - @stock.Size.Name - @stock.Gender.Name</strong>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                    Количество:
                    <span class="badge badge-secondary">@stock.Quantity</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                    Цена:
                    <span class="badge badge-success">@stock.Price лв.</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                    Отстъпка:
                    <span class="badge badge-secondary">@stock.DiscountPercentage%</span>
                  </li>
                  @{
                    decimal sum = stock.Quantity * (stock.Price *= ((100 - stock.DiscountPercentage) / 100M));
                    total += sum;
                  }
                  <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                    Сума:
                    <span class="badge badge-success">@sum.ToString("F2") лв.</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-3">
                    Продадени бройки:
                    <span class="badge badge-secondary">@stock.Sold</span>
                  </li>
                </ul>
              </div>
            }
          </div>
          <div class="row mt-2">
            <div class="col-xl-12">
              <h5 style="text-align: center"><strong>Обща сума: </strong><span class="badge badge-success">@total.ToString("F2") лв.</span></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
      </div>
    </div>
  </div>
</div>
