@model ProductIM

@{
  if (TempData.ContainsKey("ActionMessage"))
  {
    string message = TempData["ActionMessage"].ToString();
    if (message.Contains("❌"))
    {
      <div class="alert alert-danger" role="alert">
        <strong>@TempData["ActionMessage"]</strong>
      </div>
    }
    else
    {
      <div class="alert alert-success" role="alert">
        <strong>@TempData["ActionMessage"]</strong>
      </div>
    }
  }
}

<form method="post" asp-area="Dashboard" asp-controller="Products" asp-action="Create">
  <fieldset class="border p-3">
    <legend class="w-auto">Добави нов продукт</legend>

    <div class="row">
      <div class="col">
        <p class="form-group">
          <label asp-for="Name"></label>
          <input asp-for="Name" type="text" class="form-control" />
          <span asp-validation-for="Name" class="text-danger"></span>
        </p>
        <p class="form-group">
          <label asp-for="Description"></label>
          <textarea asp-for="Description" class="form-control"></textarea>
          <span asp-validation-for="Description" class="text-danger"></span>
        </p>
        <p class="form-group">
          <label asp-for="ImgUrl"></label>
          <input asp-for="ImgUrl" type="text" class="form-control" />
          <span asp-validation-for="ImgUrl" class="text-danger"></span>
        </p>
      </div>

      <div class="col">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-select form-control" aria-label="Default select example">
          @{
            <option selected value="@null">Без категория</option>
            List<CategoryVM> categories = Model.Categories.ToList();
            for (int i = 0; i < categories.Count(); i++)
            {
              <option value="@Model.CategoryIds[i]">@categories[i].Name</option>
            }
          }
        </select>

        <br /><label asp-for="MaterialIds"></label>
        <select asp-for="MaterialIds" size="5" class="form-select form-control" multiple aria-label="multiple select example" title="Няма нищо избрано">
          @{
            List<MaterialVM> materials = Model.Materials.ToList();
            for (int i = 0; i < materials.Count(); i++)
            {
              <option value="@Model.MaterialIds[i]">@materials[i].Name - @materials[i].Percentage%</option>
            }
          }
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset class="border p-3">
    <legend class="w-auto">Добави нов вариант на продукта</legend>

    <div class="row">
      <!-- TODO: Dynamically create new ProductStock if 1 is not enough (2 cols a row ?) -->
      @foreach (var productVariant in Model.ProductVariants)
      {
        <div class="col-3">
          <label asp-for="@productVariant.ColorId"></label>
          <select asp-for="@productVariant.ColorId" class="form-select form-control" aria-label="Default select example">
            @{
              List<ColorVM> colors = productVariant.Colors.ToList();
              for (int i = 0; i < colors.Count(); i++)
              {
                <option value="@colors[i].Id">@colors[i].Name - @colors[i].HexValue</option>
              }
            }
          </select>

          <label asp-for="@productVariant.GenderId"></label>
          <select asp-for="@productVariant.GenderId" class="form-select form-control" aria-label="Default select example">
            @{
              List<GenderVM> genders = productVariant.Genders.ToList();
              for (int i = 0; i < genders.Count(); i++)
              {
                <option value="@genders[i].Id">@genders[i].Name</option>
              }
            }
          </select>

          <label asp-for="@productVariant.SizeId"></label>
          <select asp-for="@productVariant.SizeId" class="form-select form-control" aria-label="Default select example">
            @{
              List<SizeVM> sizes = productVariant.Sizes.ToList();
              for (int i = 0; i < sizes.Count(); i++)
              {
                <option value="@sizes[i].Id">@sizes[i].Name</option>
              }
            }
          </select>

          <p class="form-group">
            <label asp-for="@productVariant.Quantity"></label>
            <input asp-for="@productVariant.Quantity" type="number" step="1" class="form-control" />
            <span asp-validation-for="@productVariant.Quantity" class="text-danger"></span>
          </p>

          <p class="form-group">
            <label asp-for="@productVariant.Price"></label>
            <input asp-for="@productVariant.Price" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="@productVariant.Price" class="text-danger"></span>
          </p>

          <p class="form-group">
            <label asp-for="@productVariant.DiscountPercentage"></label>
            <input asp-for="@productVariant.DiscountPercentage" type="number" step="1" class="form-control" />
            <span asp-validation-for="@productVariant.DiscountPercentage" class="text-danger"></span>
          </p>
        </div>
      }
    </div>
  </fieldset>

  <button type="submit" class="btn btn-success">Добави</button>
  <a class="btn btn-info" asp-area="Dashboard" asp-controller="Products" asp-action="All">Върни се обратно</a>

</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
